<div class="about">
  This application is created by
  <a
    href="https://www.linkedin.com/in/yashwanth-reddy-veesarapu/"
    target="_blank"
    >Yashwanth Veesarapu</a
  >
  for demonstration purposes.

  <h2>Features</h2>
  <ul>
    <li>Flight Info Form</li>
    <li>Login Form</li>
    <li>Firebase Authentication</li>
    <li>Firebase Hosting</li>
  </ul>

  <h2>Technologies</h2>
  <ul>
    <li>Angular</li>
    <li>Firebase</li>
  </ul>

  <h2>Additional Features</h2>

  <ul>
    <li>Responsive Design</li>
    <li>Form Validation</li>
    <li>Routing</li>
    <li>HTTP Client</li>
    <li>Dark Mode</li>
    <li>Form Submission Confetti Effect</li>
  </ul>

  <h2>Source Code</h2>
  <a href="https://github.com/YashwanthReddyVeesarapu/Monster" target="_blank">
    GitHub
  </a>

  <h2>Login Credentials</h2>
  <ul>
    <li>Username: admin&#64;monsterrg.com</li>
    <li>Password: monster</li>
  </ul>
</div>
