.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    width: 400px;

    input {
      width: 100%;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      padding: 10px 0;
    }
    button {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
    }
    textarea {
      width: 100%;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      padding: 10px 0;
    }

    .form-group {
      margin-top: 10px;
      div {
        margin-bottom: 16px;
        color: #d9534f;
        font-size: 14px;
      }
    }
  }
}
