header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-primary);
  height: var(--header-height);
  h1 {
    margin: 0;
    padding: 0 10px;
  }
  div {
    display: flex;
    align-items: center;

    .dark-mode-toggle {
      height: 35px;
      width: 35px;
      margin: 0 10px;
    }

    nav {
      display: flex;
      align-items: center;
      margin-right: 20px;
      a {
        margin: 0 10px;
        cursor: pointer;
        color: var(--text-primary);
        text-decoration: none;
        font-size: 1.25em;
      }
      button {
        height: 35px;
        width: 35px;
        margin: 0 10px;
      }
    }
    .menu-icon,
    #menu {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    div {
      .dark-mode-toggle {
        margin: 0;
      }
      nav {
        display: none;
      }
      .menu-icon,
      #menu {
        display: block;
        cursor: pointer;
      }
    }
  }
}
