.login {
  display: flex;
  justify-content: center;
  padding: 20px;

  .form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;

    form {
      display: flex;
      flex-direction: column;
      width: 90%;

      .form-group {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          margin-top: 10px;
          padding: 10px 10px;
        }
        div {
          color: var(--error);
          font-size: 14px;
        }
      }
    }

    .login-btn {
      margin-top: 20px;
      padding: 20px 0;
      background-color: var(--primary);
      span {
        color: white;
      }

      &:disabled {
        cursor: not-allowed;
        background-color: var(--text-disabled);
        span {
          color: var(--text-disabled);
        }
      }
    }

    .google-login-btn {
      background-color: var(--primary);
      margin-top: 20px;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: flex;
        color: white;
      }

      img {
        height: 20px;
        padding: 0 10px 0 0;
      }
    }
  }
}
