<div class="form-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        formControlName="username"
        placeholder="Username"
        id="username"
      />
      <div
        *ngIf="
          formControls['username'].invalid && formControls['username'].touched
        "
      >
        Enter a valid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
        id="password"
      />
      <div
        *ngIf="
          formControls['password'].invalid && formControls['password'].touched
        "
      >
        Password is required and must be at least 6 characters.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <p>
      Login is required to access the application. If you don't have an account,
      please contact the administrator.
    </p>
  </form>
</div>
